* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', Arial, sans-serif;
    background-color: black;
    color: #ffff;
}

.album-cover {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 600px;
    width: 50%;
    border-radius: 30px;
}
